.gradient-custom-2 {
/* fallback for old browsers */


/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}

body {

    background-image: url('https://cdn.pixabay.com/photo/2016/11/30/12/09/question-mark-1872634_960_720.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    justify-content: center;
    align-items: center;;

}
    .accordion {

    background-color: #fff;

    border-radius: 5px;
    padding: 20px;
    background: rgba(0,0,255,0.2);
    color:white;

}

.accordion .accordion-title {

    margin-bottom: 28px;
    text-align: center;
}

.accordion .content-container .question {

    padding: 20px 0px;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 2px solid black;

    position: relative;
}

.accordion .content-container .question::after {

    content: '+';
    position: absolute;
    right: -4px;
}

.accordion .content-container .answer {

    padding-top: 20px;
    line-height: 1.4;
    font-size: 20px;

    height: 0px;
    overflow: hidden;
    transition: .5s;


}

.accordion .content-container.active .answer {

    height: 100px;
}

.accordion .content-container.active .question {

    font-size: 18px;
    transition: .5s;
}

.accordion .content-container.active .question::after {

    content: '-';
    font-size: 35px;
    transform: translateY(-20%);
    transition: .5s;

}
.btn-info{
    color: #fff!important;
    background-color: #E5453A!important;
    border-color: #fff!important;
}
.custom_css {
border-radius: 5px;
    padding: 20px;
    background: rgba(0,0,255,0.2);
    color: white;
    }


.form-text{
color:#fff!important;
}
#div_id_image{
color:#fff!important;
}
#div_id_image a{
color:#fff!important;
}