    {% block footer %}
<div class="copy">
            <div class="container">
                <a href="https://www.infobeans.com/">2023 &copy; All Rights Reserved | Designed and Developed by infobeans.com</a>
                <span>
                    <a href=""><i class="fab fa-github"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                    <a href="https://in.pinterest.com/prabnr/pins/"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/prabinraja89"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/freewebtemplatesbysmarteye"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </span>
            </div>
        </div>
 {% endblock %}
    </body>
</html>